
<div>
  <img ng-src="{{vm.event.imageUrl}}" alt="{{vm.event.name}}">
  <div ng-bind="htmlbindsnippet">Change to bound variable</div>
  <div ng-hide="bool">hide</div>
  <div ng-show="bool">Show</div>
  <div ng-class="bclass">Blue</div>
  <div ng-style="bstyle">Blue</div>
  <button class="btn" ng-disabled="true">Btn</button>
  <div ng-non-bindable>{{ 1+2}}</div>

  <div class="row">
    <div class="span11">
      <h2>{{vm.event.name | uppercase}} </h2>
    </div>
  </div>

  <!-- vm.event info -->
  <div class="row">
    <div class="span3">
      <div><strong>Date:</strong> {{vm.event.date | date:'MM/dd/yyyy'}}</div>
      <!-- From $scope.vm.event = {name:...} -->
      <div><strong>Time:</strong> {{vm.event.time}}</div>
      <div><strong>Price:</strong> {{34 | currency}}</div>
    </div>
    <div class="span4">
      <address>
        <strong>Address:</strong><br />
        {{vm.event.location.address}}<br />
        {{vm.event.location.city}}, {{vm.event.location.province}}
      </address>
    </div>
  </div>

  <!-- ng-repeat filter sortBy-->
  <h3>Sessions</h3>
  Order By:
  <select ng-model="sortorder" class="input-medium">
    <option value="name" >Name</option>
    <option value="-name" >Name Desc</option>
    <option value="-upVoteCount">Votes</option>
  </select>

  <select ng-model="query.level">
    <option value="">All</option>
    <option value="Introductory">Introductory</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>

  <button class="button button-primary" ng-click="scrollToSession()">scroll</button>

  <ul class="thumbnails">
    <li ng-repeat="session in vm.event.sessions | orderBy: sortorder | filter:query" id=session{{session.id}}>
      <div class="row session">
        <!-- voting widget -->
        <!-- <div class="span0 well votingWidget">
          <div class="votingButton" ng-click="vm.upVoteSession(session)">
            <i class="icon-chevron-up icon-white"></i>
          </div>
          <div class="badge badge-inverse">
            <div>{{session.upVoteCount}}</div>
          </div>
          <div class="votingButton" ng-click="vm.downVoteSession(session)">
            <i class="icon-chevron-down"></i>
          </div>
        </div> -->

        <upvote upvote="vm.upVoteSession(session)" downvote="vm.downVoteSession(session)" count="session.upVoteCount"/>

        <div class="well span9">
          <collapsible title="{{session.name}}">
              <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
              <span>Duration: {{session.duration | durations}}</span><br />
              <span>Level: {{session.level}}</span>

              <p>{{session.abstract}}</p>
          </collapsible>
        </div>

      </div>
    </li>
  </ul>

</div>
